<div class = container><h1><%=@message_result%></h1>
<br>
<br>
<h4>Grid: <%=@grid.join(" ")%></h4>
<h4>Your word : <%=@attempt%></h4>
<br>
<p>Translation: <%=@translation%></p>
<p>Time : <%=@result_time%> seconds</p>
<p>Your score: <%=@score_result%></p>

</div>


<!-- result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Translation: #{result[:translation]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

puts "*****************************************************" -->